.jumbotron {
    background-color:transparent !important;
}

.logo {
    width: 128px;
}




.navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    position: relative;
    left: -20px;
    text-align: center;
}

nav .navbar-nav li a{
    color: black !important;
    font-weight: bold;
    font-family: Arial;
}

